# Vite Application & AWS Configuration Template
VITE_APP_TITLE=CloudScale AWS React Portal
VITE_ENVIRONMENT=Production
VITE_AWS_REGION=us-east-1
VITE_EC2_INSTANCE_ID=i-0e8912ab45cd678f9

# Live Public API Endpoints
VITE_GITHUB_API_URL=https://api.github.com
VITE_DEFAULT_GITHUB_USER=Saini-Yogesh
VITE_WEATHER_API_URL=https://api.open-meteo.com/v1/forecast
VITE_IP_GEO_API_URL=https://ipapi.co/json
VITE_CRYPTO_API_URL=https://api.coingecko.com/api/v3/simple/price
